<div class="container py-4">
    <div class="form" style="width: 50%;margin: auto;">
        <h2>Add new category</h2>
        <div class="alert alert-danger mb-1" *ngFor="let error of errors">
            {{error}}
        </div>
        <div class="alert alert-success mb-1" *ngIf="message">
            {{message}}
        </div>
        <form>
            <div class="form-group mb-2">
                <label for="username">Title</label>
                <input class="form-control" type="text" [(ngModel)]="category.title" name="category.title"/>
            </div>
            <div class="form-group mb-2">
                <label for="password">Description</label>
                <textarea class="form-control" type="text" [(ngModel)]="category.description"
                    name="category.description"></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-success me-2" (click)="save()">Save</button>
                <a class="btn btn-dark" routerLink="/home">Cancel</a>
            </div>
        </form>
    </div>

</div>